@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

:root{
    --box:border:1px solid red;
    --color1:#285C4D;
    --color2:#0D0D0D;
}

body{
    color: #0D0D0D;
}

a {
    color: rgb(255, 255, 255);
}

.endereco{
    color: #fff;
    padding: 3px;
    padding:2px 10%;
    background-color:var(--color2);
}

    .endereco img{
        height: 15px;
        width: 15px;
    }

header{
    background-color:var(--color1);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5em;
    width: 100%;
    padding: 2% 10%;
}

    .logo{
        height: 4em;
        display: flex;
        flex-direction:row;
        align-items: center;
        padding-right: 22%;
    } 


        nav a:hover {
            border-bottom: 4px solid #fff;
            padding-bottom: 26px;
        }

        .nav-list {
            list-style: none; 
        }

        .nav-list li {
            margin-left:20px;
            letter-spacing:1px;
            font-weight:bold;
            display: inline;
        }

main{
    background-color: var(--color2);
    background-image: url(img/kidsmile.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    display: inline-block;
    min-height: 546px;
    max-height: 646px;
    width: 100%;
    padding: 0% 10%;
    padding-left: 10%;
}
    .container{
        background-color:#285c4dd2;
        text-align:justify;
        height: 21em;
        width: 30em;
        padding: 2em;
        color: #fff;
        margin-top:10%;
    }
        .container p{
            padding-top: 1em;
            padding-bottom: 6em;
        }

section{
    padding: 5% 10%;
}   
    .section{
        display: flex;
        flex-direction: row;
        align-content: center;
        gap: 2em;

    }
        .sectionitem{
            text-align: center;
            height: 19em;
            width: 34em;
        }
        .sectionitem img{
            height: 6em;
            width: 6em;
        }

        .section h2{
            padding: 16px 0px;
        }

    .botao{
        display: inline-block;
        background-color: #00000000;
        border: 1px solid #fff;
        padding: 10px 30px;
        border-radius: 2em;
        font-weight: 600;        
        
    }

    .botao:hover{
        background-color: #fff;
        color: var(--color1);
    }


article{
    background-color:silver;
    height: 25em;
    
}

.article{
    margin: 0 10%;
}


footer{
    color: #fff;
    background-color: var(--color1);
    height: 15em;
}

.footer{
    margin: 0 10%;
}